:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --result-red: #FD2F1A;
    --result-yellow: #FDF735;
    --green-button: #93F868;
    --red-palette: #9c0100;
    --red-light-palette: #D29BA1;
    --blue-light-palette: #C4D4E1;
    --blue-palette: #527791;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 22px;
}

    body {
        margin: 0;
        font-family: 'Quicksand', sans-serif;
        background-color:  var(--white);
    }

    .nav-bar {
        width: 100%;
        height: 120px;
        background-color: var(--red-palette);
        display: flex;
        align-items: center;
    }

    .navbar-parrafo{
        color: var(--blue-light-palette);
        font-size: var(--xl);
        margin-left: 15px;
    }
    .nav-bar img {
        width: 150px;
        height: 100px;
        border-radius: 50%;
        margin-left: 20px;
        object-fit: cover;

    }


    .container {
        width: 100%;
        height: 100vh;
    }

    .form-container {
        display: flex;
        place-items: center;
        flex-direction: column;
    }

    .innactive {
        display: none;
    }

    .logo {
        width: 100px;
        margin-bottom: 8px;
        justify-self: center;
        border-radius: 50%;
    }

    .notas {
        display: flex;
        font-size: var(--sm);
        color: var(--red-light-palette);
        justify-content: end;
    }

    .notas .converterEuros {
        font-size: var(--md);
        text-align: center;
        color: var(--dark);
    }

    .tittle{
        font-size: var(--lg);
        margin-bottom: 12px;
        text-align: center;
    }

    .parrafoTittle {
        font-size: var(--xl);
        text-align: justify;
        margin: 16px;
        
    }

    .parrafoTittle  a {
        text-decoration: none;
    }

    .grid-container {
        display: grid;
        row-gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: var(--blue-light-palette);
        padding: 10px;
    }

 
   .grid-item {
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }   
    

        /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: var(--red-light-palette);
    color: var(--black);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 15px;
    overflow: hidden;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--red-palette);
    color: var(--white);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    /* padding: 0 18px; */
    background-color: var(--blue-palette);
    overflow: hidden;
    width: 100%;
  }


  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 23px;
    color: var(--white);
    float: inherit;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

    .parrafo{
        font-size: var(--md);
        font-weight: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
        }

        .form{
            justify-content: center;
            width: auto;
            margin: 15px;
            padding: 15px;
            border-radius: 25px;
        }

        .label {
            font-size: var(--md);
            font-weight: bold;
            margin-bottom: 4px; 
        }

        .input{
            background-color: var(--text-input-field);
            border: none;
            border-radius: 8px;
            height: 30px;
            font-size: var(--md);
            padding: 6px;
            margin-bottom: 12px;
            margin-top: 5px;
            width: 95%;
        }

        .primary-button{
            background-color: var(--red-light-palette);
            color: var(--white);
            border: none;
            border-radius: 8px;
            width: 50%;
            cursor: pointer;
            font-size: var(--md);
            font-weight: bold;
            height: 50px;
            margin-bottom: 0px;
            align-self: center;
        }

 

        .login-button{
            margin-top: 14px;
            margin-bottom: 30px;
        }

      
        .resultado p {
            background-color: var(--red-palette);
            color: var(--result-yellow);
            text-align: center;
            font-size: var(--xl);
            width: 100%;
            height: 36vh;
        }

        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 500px;
            top: 80px;
            width: 30%; /* Full width */
            height: 50%; /* Full height */
            /* overflow: auto; Enable scroll if needed */
            /* background-color: rgb(0,0,0); /* Fallback color */
            /* background-color: rgba(0,0,0,0.4); Black w/ opacity */ 
          }

          /* Modal Content/Box */
.content-modal{
    background-color: var(--blue-light-palette);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 0px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
.close {
    color: var(--red-palette);
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-right: -2px;
    margin-top: -32px;
    border-radius: 50%;
  }

  .close:hover,
.close:focus {
  color: var(--blue-palette);
  text-decoration: none;
  cursor: pointer;
}

        .footer {
            width: 100%;
            height: 60px;
            background-color: var(--red-palette);
            display: flex;
            grid-template-columns: 1fr;
            align-items: center;
            position: relative;
            margin-top: 70px;
            margin-bottom: 0%;
        }

        .footer p {
            margin-left: 20px;
            color: var(--blue-light-palette);
            font-size: var(--lg);
        }

      
        /* Responsive */
        
        @media (max-width:640px){

            .notas {
                text-align: center;
                flex-direction: column;
            }

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 30px;
                top: 200px;
                width: 90%; /* Full width */
                height: 50%; /* Full height */
                /* overflow: auto; Enable scroll if needed */
                /* background-color: rgb(0,0,0); Fallback color */
                /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
                /* display: grid; */
                /* justify-content: center;
                align-items: center; */
              }
        

            .grid-container {
                display: flex;
               flex-direction: column;
               place-items: center;
            }

            .nav-bar p {
                margin-left: 10px;
                font-size: var(--lg);
            }
            .grid-item {
                width: 100%;
             }   
           .form {
               width: 80%;
           }
        }
